*, *::after, *::before{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    position: relative;
    background: linear-gradient(to top left, rgb(222, 240, 85), rgb(236, 117, 249));
}
.container, .second>li, .third>li{
    background: #202020;
}
.header{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}
.container{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 5;
}
.first{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
li a{
    color: #fff;
    text-decoration: none;
    padding: 20px 10px;
    display: block;
}
.first>li:first-child a{
    padding: 0;
}
.first>li{
    text-transform: uppercase;
    position: relative;
}
.second{
    position: absolute;
    opacity: 0;
    top: -1000%;
    z-index: 10;
    right: 0;
    padding-top: 15px;
    text-align: center;
    transition: top .8s cubic-bezier(.15,.38,.46,1.35), opacity 1.5s linear;
}
.first>li:first-child{
    position: absolute;
    top: auto;
    left: 0;
}
.first>li:hover, .second>li:hover, .third>li:hover{
    background: rgb(153, 149, 149);
}
.first>li:hover .second{
    top: 100%;
    opacity: 1;
}
.first>li:first-child:hover{
    background: #202020;
}
.third{
    position: absolute;
    bottom: 0;
    z-index: -1;
    right: 0;
    padding-right: 15px;
    white-space: nowrap;
    opacity: 0;
    transition: right .8s cubic-bezier(.15,.38,.46,1.35), opacity 1.5s linear;
}
.second>li:last-child{
    position: relative;
}
.second>li:last-child:hover .third{
    right: 100%;
    opacity: 1;
}
.main{
    width: 1300px;
    margin: 100px auto;
}
p{
    font-size: 22px;
}
.main>h1{
    margin-bottom: 50px;
}
.main>div>h2{
    font-size: 26px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.active{
    color: red;
}
.active svg{
    fill: rgb(255, 187, 0);
    
}
.card > div{
    display: inline-block;
}
.cards{
    width: 400px;
    font-size: 18px;
    padding: 5px;
}
.card_box{
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(rgb(108, 109, 104), rgb(162, 164, 162),rgb(237, 241, 237));
}
.card_box img{
    transition: all 0.9s ease;
}
.card_box:hover img{
    transform: scale(1.1);
}
div p{
    text-align: justify;
}
div h2{
    text-align: center;
    font-weight: 800;
    font-size: 22px;
}
h2, p{
    margin: 10px;
}
.card{
    width: 1200px;
    margin: 0 auto;
}
.link{
    text-align: center;
    padding: 10px 0;
}
.link a{
    text-decoration: none;
    color: rgb(255, 110, 7);
}
.link:hover a{
    color: rgb(135, 125, 125);
}
img, .card_box{
    border-radius: 4px;
}
.card{
    font-size: 0;
}
.title{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin: 0 auto 20px;
    padding: 100px 0 20px;
}
.content{
    height: 150px;
    overflow: hidden;
    position: relative;
}
.content::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    /* background: linear-gradient(transparent, rgb(192, 190, 190)); */
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 10px;
}
.box{
    display: inline-block;
    position: relative;
    margin: 20px;
}
.wrapper>h1{
    font-size: 32px;
    margin-bottom: 10px;
}
.discription{
    background: rgba(20, 18, 18, 0.2);
    position: absolute;
    display: none;
    overflow: hidden;
    height: 100px;
    width: 600px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -50px;
    z-index: 1;
}
.box:hover .discription{
    display: block;
}
.discription p{
    font-size: 18px;
    color: white;
    text-align: justify;
    padding: 0 10px 5px;
}

.main>h1{
    font-size: 38px;
    text-align: center;
    margin-top: 50px;
}


.float{
    width: 1200px;
}
.float_in{
    width: 400px;
    height: 400px;
    background: green;
    outline: 1px solid red;
    float: left;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
.yellow{
    width: 800px;
    float: left;
}
.yellow>div{
    background: yellow;
    height: 200px;
    outline: 1px solid red;
}
.blue{
    width: 400px;
    float: left;
}
.blue>div{
    background: blue;
    height: 133px;
    outline: 1px solid red;
}
.pink{
    width: 400px;
    height: 400px;
    background: pink;
    outline: 1px solid red;
    float: left;
}
.float_box{
    width: 800px;
    float: left;
}
.grey{
    height: 200px;
    background: grey;
    outline: 1px solid red;
}
.violet{
    height: 200px;
    width: 400px;
    background: violet;
    outline: 1px solid red;
    float: left;
}
.orange{
    width: 400px;
    float: left;
}
.orange>div{
    height: 100px;
    background: orange;
    outline: 1px solid red;
}


td, table, th, tr{
    border: 1px solid black;
}
td, tr{
    height: 80px;
    width: 80px;
}
table{
    margin: 40px auto;
}
.green_color{
    background: rgb(5, 78, 9);
}
.yellow_color{
    background: yellow;
}
.orange_color{
    background: orange;
}
.blue_color{
    background: blue;
}

.footer_wrap{
    background: #202020;
}
.footer{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
    font-size: 0;
}
.footer a{
    margin-right: 25px;
    display: inline-block;
    font-size: 16px;
}
.footer a:last-child{
    padding: 0;
}
.icon{
    width: 30px;
    height: 30px;
    fill: white;
}
.icon:hover, .flex:hover svg{
    fill: rgb(255, 187, 0);
}
.flex{
    display: flex;
    align-items: center;
    gap: 10px;
}
.flex .icon{
    width: 25px;
    height: 25px;
}


.fixed_box{
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 200px;
    transform: translateY(75%);
    transition: all 0.9s ease;
    text-align: center;
}
.fixed_box>.title{
    background: #202020;
    padding: 17px;
    margin: 0;
    font-size: 20px;
    color: #fff;
}
.fixed_box:hover{
    transform: translateY(0);
}
.fixed_content{
    background: rgb(230, 230, 23);
    padding: 30px 40px;
}
.fixed_content li{
    border: 1px solid black;
}
.fixed_content li:hover{
    background: rgb(249, 185, 11);
}
.fixed_content svg{
    fill: black;
    transform: rotate(315deg);
}
.fixed_content a:hover svg{
    fill: rgb(111, 0, 255);
}
.fixed_content a:hover{
    transform: rotate(1turn);
}
.fixed_content ul{
    display: flex;
    gap: 15px;
    flex-flow: row wrap;
    justify-content: center;
    transform: rotate(45deg);
}
.fixed_content a{
    display: block;
    padding: 5px;
    transition: all 0.5s ease;
}